@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Open+Sans&display=swap");

$primary: #c32c72;
$navbar-light-color: #f4f3ee;
$footer: #f4f3ee;
$box: #f4f3ee;
$navbar-light-active-color: #c32c72;
$background-color: #e5e5e5;
$box-fill: white;
$grey: #8d8d8d;
$dark-grey: #6a6a6a;
$light-grey: #e2e2e2;

$font-primary: "Archivo Narrow", sans-serif;
$font-secondary: "Open Sans", sans-serif;
