.navbar-brand {
  font-family: $font-primary;
  font-size: 36px;
  color: black !important;
}

.navbar {
  background-color: $navbar-light-color !important;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
  font-family: $font-secondary;
  color: $grey;
  font-size: 18px;
}

.navbar-collapse {
  z-index: 1;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(70,63,58, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
